<!--<app-request-collection-create></app-request-collection-create>-->
<!--<app-request-collection-launch></app-request-collection-launch>-->
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side" style="width: 17%; background-color: #5bc0de">
    <img src="./assets/img/process.png" class="m-2"  width="50px" alt="">
    <strong style="font-family: 'Comic Sans MS', cursive, sans-serif;">Dynamic composer</strong>
    <p class="m-1" style="font-family: 'Comic Sans MS', cursive, sans-serif ; font-size: 15px">the smarter application builder</p>
    <hr>
    <mat-nav-list >
      <a mat-list-item routerLink="/new">
        <mat-icon matListIcon class="fa fa-plus-square"></mat-icon>
        <span >New application composite</span>
      </a>
      <a mat-list-item routerLink="/launch">
        <mat-icon matListIcon class="fa fa-play-circle-o"></mat-icon>
        <span>Process launcher</span>
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!--<app-request-collection-create></app-request-collection-create>-->
    <p><button  class="btn btn-info m-1 fa fa-bars" (click)="sidenav.toggle()"></button></p>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
